<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> World News </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    <link href="boostrap4-3/fontawesome/css/font-awesome.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        body{
            background: lightgray;
        }
        nav, footer{
            background: #000428; !important;
        }
        .darkBlue{
            color: #000428;
            border-bottom: 4px solid;
            border-color: red;
            font-family: Century;
            font-weight: normal;
        }


    </style>

</head>
<body>
<!--NavBar-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container ">
        <div class="navbar-brand p-0">
            <a class="btn btn-link text-light p-0" href="Home"><h4><b>1TV</b></h4></a>
        </div>

        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link " href="Home">HOME <span class="sr-only">(current)</span></a>
            </li>
            <!-- NEWS -->
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    NEWS
                </a>
                <div class="dropdown-menu " aria-labelledby="navbarDropdown">
                    <a class="dropdown-item " href="MacedonianNews">MACEDONIAN</a>
                    <a class="dropdown-item " href="WorldNews">WORLD</a>
                    <a class="dropdown-item " href="PoliticsNews">POLITICS</a>
                    <a class="dropdown-item " href="SportNews">SPORT</a>
                </div>
            </li>
            <!-- NEWS -->

            <!--GAMING -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    GAMING
                </a>
                <div class="dropdown-menu " aria-labelledby="navbarDropdown1">
                    <a class="dropdown-item " href="GamingNews">GAMING NEWS</a>
                    <a class="dropdown-item " href="LiveStream">LIVE STREAM</a>
                    <a class="dropdown-item " href="Games">GAMES</a>
                </div>
            </li>
            <!--GAMING -->

            <li class="nav-item">
                <a class="nav-link " href="About">ABOUT US</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="Contact">CONTACT</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 ">
            <div class="input-group">
                <input class="form-control form-control-sm" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append input-group-sm">
                    <button class="btn brn-sm btn-light pt-0 pb-0" type="submit"><span class="fa fa-search"></span></button>
                </div>
            </div>
        </form>
    </div>
    </div>
</nav>
<!--NavBar-->
<!-- Main -->
<div class="container mt-5 bg-light">
    <div class="row ">
        <div class="col-lg-9 col-md-12 p-0">
        <ul class="list-unstyled mt-3  ">
            <li class=" float-md-left pt-2 pb-2 pl-3">
                <h3>
                    <a class="darkBlue text-decoration-none" href="#">Macedonian News</a>
                </h3>
            </li>
            <li class=" float-md-left pt-2 pb-2 pl-3">
                <h3>
                    <a class="darkBlue border-bottom-0 text-decoration-none" href="WorldNews">World News</a>
                </h3>
            </li>
            <li class=" float-md-left pt-2 pb-2 pl-3">
                <h3>
                    <a class="text-decoration-none darkBlue border-bottom-0" href="PoliticsNews">Politics News</a>
                </h3>
            </li>
            <li class=" float-md-left pt-2 pb-2 pl-3">
                <h3>
                    <a class="text-decoration-none darkBlue border-bottom-0" href="SportNews">Sport News</a>
                </h3>
            </li>
        </ul>
        </div>
    </div>
    <div class="row ">

        <!-- NEWS -->
        <div class="col-lg-8 col-md-12">

            <div class="row border-sm border-bottom page-1">
                <!-- Image -->
                <div class="col-md-4 p-2">
                    <a href="MacedonianNews/Boki13">
                        <img src="https://english.republika.mk/wp-content/uploads/2019/08/boki-13-reket.jpg" width="100%" >
                    </a>
                </div>
                <!-- Image -->
                <!-- Body -->
                <div class="col-md-8 p-1">
                    <!-- H3 -->
                    <h5><b><a class="text-dark" href="MacedonianNews/Boki13">Tapes show Boki 13 taking a bag of money from Jordan Kamcev </a></b></h5>
                    <!-- H3 -->
                    <!-- Paragraph -->
                    <p class="h6">
                        Tapes reveals Boki 13 assuring Kamcev that Katica J. will not use legal options she has against Kamcev, and will allow him to walk out of his house arrest.
                    </p>
                    <!-- Paragraph -->
                    <!-- Likes Shares Views -->
                    <div class="float-right p-0 pr-3">
                        <small class="p-0">
                            <span class="fa fa-heart text-danger"></span> 69
                        </small>
                        <small class="p-0">
                            <span class="fa fa-share text-primary"></span> 31
                        </small>
                        <small class="p-0 ">
                            <span class="fa fa-eye text-dark"></span> 145
                        </small>
                    </div>
                    <!-- Likes Shares Views -->
                </div>
                <!-- Body -->
            </div>

            <div class="row border-sm border-bottom page-1">
                <!-- Image -->
                <div class="col-md-4 p-2">
                    <a href="MacedonianNews/Goverment">
                        <img src="https://english.republika.mk/wp-content/uploads/2019/09/ruskoska-zaev.jpg"width="100%" >
                    </a>
                </div>
                <!-- Image -->
                <!-- Body -->
                <div class="col-md-8 p-1">
                    <!-- H3 -->
                    <h5><b><a class="text-dark" href="MacedonianNews/Goverment">The prosecutors have one set of standards for the Government, and another for the opposition</a></b></h5>
                    <!-- H3 -->
                    <!-- Paragraph -->
                    <p class="h6">
                        Mickoski said he will give the prosecutors time to investigate the case properly, but if they attempt to cover up the scandal, he will publish the names of the SDSM party politicians involved in the extortion of millions of euros from various businesses.
                    </p>
                    <!-- Paragraph -->
                    <!-- Likes Shares Views -->
                    <div class="float-right p-0 pr-3">
                        <small class="p-0">
                            <span class="fa fa-heart text-danger"></span> 32
                        </small>
                        <small class="p-0">
                            <span class="fa fa-share text-primary"></span> 5
                        </small>
                        <small class="p-0 ">
                            <span class="fa fa-eye text-dark"></span> 78
                        </small>
                    </div>
                    <!-- Likes Shares Views -->
                </div>
                <!-- Body -->
            </div>

            <div class="row border-sm border-bottom page-1">
                <!-- Image -->
                <div class="col-md-4 p-2">
                    <a href="MacedonianNews/StrumicaMuslims">
                        <img src="https://english.republika.mk/wp-content/uploads/2019/09/strumica_dzamija.jpg" width="100%">
                    </a>
                </div>
                <!-- Image -->
                <!-- Body -->
                <div class="col-md-8 p-1">
                    <!-- H3 -->
                    <h5><b><a class="text-dark" href="MacedonianNews/StrumicaMuslims">In Strumica, hundreds of Muslims threaten a police patrol that came to measure how loud their mosque is</a></b></h5>
                    <!-- H3 -->
                    <!-- Paragraph -->
                    <p class="h6">
                        A major incident was reported in a majority Muslim neighborhood of Strumica yesterday, when the police intervened to measure the noise levels emitted from the local mosque.
                    </p>
                    <!-- Paragraph -->
                    <!-- Likes Shares Views -->
                    <div class="float-right p-0 pr-3">
                        <small class="p-0">
                            <span class="fa fa-heart text-danger"></span> 58
                        </small>
                        <small class="p-0">
                            <span class="fa fa-share text-primary"></span> 35
                        </small>
                        <small class="p-0 ">
                            <span class="fa fa-eye text-dark"></span> 148
                        </small>
                    </div>
                    <!-- Likes Shares Views -->
                </div>
                <!-- Body -->
            </div>

            <div class="row border-sm border-bottom page-1">
                <!-- Image -->
                <div class="col-md-4 p-2">
                    <a href="MacedonianNews/FatimeFetai">
                        <img src="https://english.republika.mk/wp-content/uploads/2019/09/fatime-fetai-740x416.jpg" width="100%" >
                    </a>
                </div>
                <!-- Image -->
                <!-- Body -->
                <div class="col-md-8 p-1">
                    <!-- H3 -->
                    <h5><b><a class="text-dark" href="MacedonianNews/FatimeFetai">Prosecutor Fatime Fetai laughed at in court</a></b></h5>
                    <!-- H3 -->
                    <!-- Paragraph -->
                    <p class="h6">
                        Prosecutor Fatime Fetai, from the disgraced Special Prosecutor’s Office, was laughed out of court today when she asked that a hearing is postponed.
                    </p>
                    <!-- Paragraph -->
                    <!-- Likes Shares Views -->
                    <div class="float-right p-0 pr-3">
                        <small class="p-0">
                            <span class="fa fa-heart text-danger"></span> 24
                        </small>
                        <small class="p-0">
                            <span class="fa fa-share text-primary"></span> 2
                        </small>
                        <small class="p-0 ">
                            <span class="fa fa-eye text-dark"></span> 99
                        </small>
                    </div>
                    <!-- Likes Shares Views -->
                </div>
                <!-- Body -->
            </div>

            <div class="row border-sm border-bottom page-1">
                <!-- Image -->
                <div class="col-md-4 p-2">
                    <a href="MacedonianNews/Zaev">
                        <img src="https://english.republika.mk/wp-content/uploads/2019/09/zoran-zaev-izjava.jpg" width="100%" >
                    </a>
                </div>
                <!-- Image -->
                <!-- Body -->
                <div class="col-md-8 p-1">
                    <!-- H5 -->
                    <h5><b><a class="text-dark" href="MacedonianNews/Zaev">Zaev denies announcing that Janeva will soon be released from detention</a></b></h5>
                    <!-- H5 -->
                    <!-- Paragraph -->
                    <p class="h6">
                        Prime Minister Zoran Zaev denied reports that, during the negotiations with opposition leader Hristijan Mickoski, he announced Katica Janeva’s imminent release from detention. Antonio Milososki, who was part of the VMRO-DPMNE team, said that Zaev made the announcement that Janeva will be released within 10 days.
                    </p>
                    <!-- Paragraph -->
                    <!-- Likes Shares Views -->
                    <div class="float-right p-0 pr-3">
                        <small class="p-0">
                            <span class="fa fa-heart text-danger"></span> 153
                        </small>
                        <small class="p-0">
                            <span class="fa fa-share text-primary"></span> 78
                        </small>
                        <small class="p-0 ">
                            <span class="fa fa-eye text-dark"></span> 220
                        </small>
                    </div>
                    <!-- Likes Shares Views -->
                </div>
                <!-- Body -->
            </div>

            <div class="row border-sm border-bottom page-2">
                <!-- Image -->
                <div class="col-md-4 p-2">
                    <a href="MacedonianNews/VisegradEU">
                        <img src="https://english.republika.mk/wp-content/uploads/2019/09/premieri-vishegradska-grupa-960x540-960x540.jpg" width="100%" >
                    </a>
                </div>
                <!-- Image -->
                <!-- Body -->
                <div class="col-md-8 p-1">
                    <!-- H5 -->
                    <h5><b><a class="text-dark" href="MacedonianNews/VisegradEU">Visegrad countries support opening EU accession talks with Macedonia and Albania</a></b></h5>
                    <!-- H5 -->
                    <!-- Paragraph -->
                    <p class="h6">
                        The Prime Ministers of the four Visegrad group countries called on the European Union to open accession talks with both Macedonia and Albania in October.
                    </p>
                    <!-- Paragraph -->
                    <!-- Likes Shares Views -->
                    <div class="float-right p-0 pr-3">
                        <small class="p-0">
                            <span class="fa fa-heart text-danger"></span> 44
                        </small>
                        <small class="p-0">
                            <span class="fa fa-share text-primary"></span> 13
                        </small>
                        <small class="p-0 ">
                            <span class="fa fa-eye text-dark"></span> 180
                        </small>
                    </div>
                    <!-- Likes Shares Views -->
                </div>
                <!-- Body -->
            </div>

            <div class="row border-sm border-bottom page-2">
                <!-- Image -->
                <div class="col-md-4 p-2">
                    <a href="MacedonianNews/CzechRetifies">
                        <img src="https://english.republika.mk/wp-content/uploads/2019/09/parlament-cheshka.jpg" width="100%" >
                    </a>
                </div>
                <!-- Image -->
                <!-- Body -->
                <div class="col-md-8 p-1">
                    <!-- H5 -->
                    <h5><b><a class="text-dark" href="MacedonianNews/CzechRetifies">Czech Republic ratifies Macedonia’s NATO accession protocol</a></b></h5>
                    <!-- H5 -->
                    <!-- Paragraph -->
                    <p class="h6">
                        The Czech Parliament ratified Thursday Macedonia’s NATO accession protocol.
                    </p>
                    <!-- Paragraph -->
                    <!-- Likes Shares Views -->
                    <div class="float-right p-0 pr-3">
                        <small class="p-0">
                            <span class="fa fa-heart text-danger"></span> 65
                        </small>
                        <small class="p-0">
                            <span class="fa fa-share text-primary"></span> 22
                        </small>
                        <small class="p-0 ">
                            <span class="fa fa-eye text-dark"></span> 178
                        </small>
                    </div>
                    <!-- Likes Shares Views -->
                </div>
                <!-- Body -->
            </div>

            <!-- Pigination -->
            <div class="row ">
                <div class="col-12 " aria-label="Page navigation example">
                    <ul class="pagination justify-content-center pt-3">
                        <li class="page-item">
                            <button class="page-link" id="previous" aria-label="Previous" >
                                <span aria-hidden="true">&laquo;</span>
                            </button>
                        </li>
                        <li class="page-item"><a class="page-link" id="first-page" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" id="second-page" href="#">2</a></li>
                        <li class="page-item">
                            <button class="page-link" href="#" id="next" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Pigination -->
        </div>
        <!-- NEWS -->
        <!--Top 3 News-->
        <div class="col-lg-4 col-md-12 p-0 pl-lg-4 ">

            <div class="accordion " id="accordionExample">

                <div class="card ">
                    <div class="card-header p-1">
                        <h4 class="text-center text-dark"><b>Top 3 News</b></h4>
                    </div>
                </div>
                <!--MKD NEWS -->
                <div class="card">
                    <div class="card-header m-0 p-0" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-default collapsed btn-block " type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Macedonia News
                            </button>
                        </h2>
                    </div>
                    <div id="collapseOne" class="collapse show p-0 m-0" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body p-0 ">
                            <ul class="list-unstyled p-0 m-0 text-center">
                                <li class="border-bottom p-1">
                                    <a class="" href="MacedonianNews/Boki13"><small>Tapes show Boki 13 taking a bag of money from Jordan Kamcev</small></a>
                                </li>
                                <li class="border-bottom p-1">
                                    <a class="" href="MacedonianNews/FatimeFetai"><small>Prosecutor Fatime Fetai laughed at in court</small></a>
                                </li>
                                <li class="border-bottom p-1">
                                    <a class="" href="MacedonianNews/StrumicaMuslims"><small>In Strumica, hundreds of Muslims threaten a police patrol that came to measure how loud their mosque is</small></a>
                                </li>
                                <li class="p-1 pb-0 ">
                                    <a class="text-secondary" href="MacedonianNews">View All Macedonia News</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--MKD NEWS -->

                <!--WORLD NEWS -->
                <div class="card">
                    <div class="card-header m-0 p-0" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-default collapsed btn-block " type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                World News
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse p-0 m-0" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body p-0 ">
                            <ul class="list-unstyled p-0 m-0 text-center">
                                <li class="border-bottom p-1">
                                    <a class="" href="WorldNews/MohamedMorsi"><small>Son of former Egyptian president Mohamed Morsi dies aged 25</small></a>
                                </li>
                                <li class="border-bottom p-1">
                                    <a class="" href="WorldNews/BorisJohnsonQueen"><small>Boris Johnson says it 'absolutely' not true he misled Queen over prorogation</small></a>
                                </li>
                                <li class="border-bottom p-1">
                                    <a class="" href="WorldNews/TrumpGolfing"><small>Trump went golfing as Hurricane Dorian threatens US</small></a>
                                </li>
                                <li class="p-1 pb-0 ">
                                    <a class="text-secondary" href="WorldNews">View All World News</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--WORLD NEWS -->

                <!--POLITICS NEWS -->
                <div class="card">
                    <div class="card-header m-0 p-0" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn btn-default btn-block " type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Politics News
                            </button>
                        </h2>
                    </div>

                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body p-0 ">
                            <ul class="list-unstyled p-0 m-0  text-center">
                                <li class="border-bottom p-1">
                                    <a class="" href="PoliticsNews/TwoReporters"><small>Two reporters shouldn't be allowed at the White House </small></a>
                                </li>
                                <li class="border-bottom p-1">
                                    <a class="" href="PoliticsNews/IranNuclear"><small>Iran now using advanced centrifuges, violating nuclear deal</small></a>
                                </li>
                                <li class="border-bottom p-1">
                                    <a class="" href="PoliticsNews/Democrats"><small>Democrats face internal rancor over deep fakes, disinformation</small></a>
                                </li>
                                <li class="p-1 pb-0 ">
                                    <a class="text-secondary" href="PoliticsNews">View All Politics News</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--POLITICS NEWS -->

                <!--SPORT NEWS -->
                <div class="card">
                    <div class="card-header m-0 p-0" id="headingFour">
                        <h2 class="mb-0">
                            <button class="btn btn-default collapsed btn-block" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Sport News
                            </button>
                        </h2>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                        <div class="card-body p-0 ">
                            <ul class="list-unstyled p-0 m-0 text-center">
                                <li class="border-bottom p-1">
                                    <a class="" href="SportNews/RyanGiggs"><small>Ryan Giggs hails Gareth Bale after later winner against Azerbaijan</small></a>
                                </li>
                                <li class="border-bottom p-1">
                                    <a class="" href="SportNews/SebastianVettel"><small>Italian GP Practice Three: Sebastian Vettel keeps Ferrari on top</small></a>
                                </li>
                                <li class="border-bottom p-1">
                                    <a class="" href="SportNews/SerenaWilliams"><small>US Open: Serena Williams vs Bianca Andreescu women's final preview</small></a>
                                </li>
                                <li class="p-1 pb-0 ">
                                    <a class="text-secondary" href="SportNews">View All Sport News</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--SPORT NEWS -->
            </div>

        </div>
        <!--Top 3 News-->


    </div>


</div>



<!-- Main -->
<!-- Footer -->
<footer class="page-footer font-small  text-center ">

    <!-- Footer Elements -->
    <div class="container">

        <!-- Grid row-->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-12 py-5">
                <div class="mb-5 flex-center">

                    <!-- Facebook -->
                    <a class="fb-ic" style="color: #fff3cd;">
                        <i class="fa fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!-- Twitter -->
                    <a class="tw-ic" style="color: #fff3cd;">
                        <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!-- Google +-->
                    <a class="gplus-ic" style="color: #fff3cd;">
                        <i class="fa fa-google-plus fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Linkedin -->
                    <a class="li-ic" style="color: #fff3cd;">
                        <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic" style="color: #fff3cd;">
                        <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Pinterest-->
                    <a class="pin-ic" style="color: #fff3cd;">
                        <i class="fa fa-pinterest fa-lg white-text fa-2x"> </i>
                    </a>
                </div>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 text-light">© 2018 Copyright:</div>
    <!-- Copyright -->

</footer>
<!-- Footer -->

<!--Script -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript" >
    $(document).ready(function () {

        $('.page-1').show();
        $('.page-2').hide();


        $('#first-page').click(function () {

            $('.page-1').show();
            $('.page-2').hide();
            $('#previous').disable;
            $('#next').enable;

        });

        $('#second-page').click(function () {
            $('.page-2').show();
            $('.page-1').hide();
            $('#next').disable;
            $('#previous').enable;


        });

        $('#previous').click(function () {
            if ($('.page-1').is(':hidden')){
                $('.page-1').show();
                $('.page-2').hide();
                $('#previous').disable;
                $('#next').enable;

            }
        });

        $('#next').click(function () {
            console.log($('.page-2').hidden);
            if ($('.page-2').is(':hidden')){
                $('.page-2').show();
                $('.page-1').hide();
                $('#previous').enable;
                $('#next').disable;

            }
        });
    });

</script>

<!--Script -->
</body>
</html>