<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Live TV </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    <link href="boostrap4-3/fontawesome/css/font-awesome.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        body{
            background: lightgray;
        }
        nav, footer{
            background: #000428; !important;
        }
        .darkBlue{
            color: #000428;
            border-bottom: 4px solid;
            border-color: red;
        }

        @media only screen and (max-width: 420px) {
            iframe{
                width: 100%;
                height: 100%;
            }
        }

    </style>

</head>
<body>


<!--NavBar-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container ">
        <div class="navbar-brand p-0">
            <a class="btn btn-link text-light p-0" href="Home"><h4><b>1TV</b></h4></a>
        </div>

        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link " href="Home">HOME <span class="sr-only">(current)</span></a>
            </li>
            <!-- NEWS -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    NEWS
                </a>
                <div class="dropdown-menu " aria-labelledby="navbarDropdown">
                    <a class="dropdown-item " href="MacedonianNews">MACEDONIAN</a>
                    <a class="dropdown-item " href="WorldNews">WORLD</a>
                    <a class="dropdown-item " href="PoliticsNews">POLITICS</a>
                    <a class="dropdown-item " href="SportNews">SPORT</a>
                </div>
            </li>
            <!-- NEWS -->

            <!--GAMING -->
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    GAMING
                </a>
                <div class="dropdown-menu " aria-labelledby="navbarDropdown1">
                    <a class="dropdown-item " href="GamingNews">GAMING NEWS</a>
                    <a class="dropdown-item " href="LiveStream">LIVE STREAM</a>
                    <a class="dropdown-item " href="Games">GAMES</a>
                </div>
            </li>
            <!--GAMING -->

            <li class="nav-item">
                <a class="nav-link " href="About">ABOUT US</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="Contact">CONTACT</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 ">
            <div class="input-group">
                <input class="form-control form-control-sm" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append input-group-sm">
                    <button class="btn brn-sm btn-light pt-0 pb-0" type="submit"><span class="fa fa-search"></span></button>
                </div>
            </div>
        </form>
    </div>
    </div>
</nav>
<!--NavBar-->

<!-- Main -->
<div class="container text-center mt-5 bg-light p-0 " style="height: 650px">

    <div class="row pl-3">

        <ul class="list-unstyled mt-3  ">
            <li class="float-left p-2 pl-2">
                <h3>
                    <a class="darkBlue border-bottom-0 text-decoration-none" href="GamingNews">Gaming News</a>
                </h3>
            </li>
            <li class="float-left p-2 pl-2">
                <h3>
                    <a class="darkBlue text-decoration-none" href="#">Live Stream</a>
                </h3>
            </li>
            <li class="float-left p-2 pl-2">
                <h3>
                    <a class="darkBlue border-bottom-0 text-decoration-none" href="Games">Games</a>
                </h3>
            </li>

        </ul>
    </div>


    <div class="accordion" id="accordionExample">
      <div class="card">
          <div class="card-header m-0 p-0" id="headingTwo">
              <h2 class="mb-0">
                  <button class="btn btn-default collapsed btn-block " type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Roblox Live
                  </button>
              </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body p-0">
                  <iframe width="720" height="400" src="https://www.youtube.com/embed/0EKi9gJrY9A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
          </div>
      </div>
      <div class="card">
        <div class="card-header m-0 p-0" id="headingOne">
          <h2 class="mb-0">
           <button class="btn btn-default btn-block " type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
             PUBG Mobile Music
           </button>
         </h2>
         </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body p-0">
          <iframe width="720" height="400" src="https://www.youtube.com/embed/p0c9vw2uYAg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>      </div>
    </div>
  </div>
      <div class="card">
        <div class="card-header m-0 p-0" id="headingThree">
            <h2 class="mb-0">
            <button class="btn btn-default collapsed btn-block" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Dunia Games
            </button>
            </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body p-0">
                <iframe width="720" height="400" src="https://www.youtube.com/embed/hq-pgx68U3I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>            </div>
        </div>
      </div>
  </div>



</div>



<!-- Main -->
<!-- Footer -->
<footer class="page-footer font-small  text-center ">

    <!-- Footer Elements -->
    <div class="container">

        <!-- Grid row-->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-12 py-5">
                <div class="mb-5 flex-center">

                    <!-- Facebook -->
                    <a class="fb-ic" style="color: #fff3cd;">
                        <i class="fa fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!-- Twitter -->
                    <a class="tw-ic" style="color: #fff3cd;">
                        <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!-- Google +-->
                    <a class="gplus-ic" style="color: #fff3cd;">
                        <i class="fa fa-google-plus fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Linkedin -->
                    <a class="li-ic" style="color: #fff3cd;">
                        <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic" style="color: #fff3cd;">
                        <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Pinterest-->
                    <a class="pin-ic" style="color: #fff3cd;">
                        <i class="fa fa-pinterest fa-lg white-text fa-2x"> </i>
                    </a>
                </div>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 text-light">© 2018 Copyright:</div>
    <!-- Copyright -->

</footer>
<!-- Footer -->

<!--Script -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!--Script -->

</body>
</html>