<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StarCraft: Remastered's cartoon makeover is out now</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    <link href="boostrap4-3/fontawesome/css/font-awesome.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        body{
            background: lightgray;
        }
        nav, footer {
            background: #000428; !important;
        }

        .darkBlue{
            color: #000428;
            border-bottom: 4px solid;
            border-color: red;
        }
        img{
            object-fit: cover;
        }
        .newsFont{
            font-family: Century;
            font-weight: normal;
        }
        .badge{
            position: absolute;
            top: 5px;
            left: 0;
        }
        .card-footer{
            border-top: 0;
            background-color: white;
        }

        .darkBlue:hover{
            text-decoration: none;
        }

    </style>

</head>
<body>
<!--NavBar-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container ">
        <div class="navbar-brand p-0">
            <a class="btn btn-link text-light p-0" href="../../Home"><h4><b>1TV</b></h4></a>
        </div>

        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="../../Home">HOME <span class="sr-only">(current)</span></a>
            </li>
            <!-- NEWS -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    NEWS
                </a>
                <div class="dropdown-menu " aria-labelledby="navbarDropdown">
                    <a class="dropdown-item " href="../MacedonianNews">MACEDONIAN</a>
                    <a class="dropdown-item " href="../WorldNews">WORLD</a>
                    <a class="dropdown-item " href="../PoliticsNews">POLITICS</a>
                    <a class="dropdown-item " href="../SportNews">SPORT</a>
                </div>
            </li>
            <!-- NEWS -->

            <!--GAMING -->
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    GAMING
                </a>
                <div class="dropdown-menu " aria-labelledby="navbarDropdown1">
                    <a class="dropdown-item " href="../GamingNews">GAMING NEWS</a>
                    <a class="dropdown-item " href="../LiveStream">LIVE STREAM</a>
                    <a class="dropdown-item " href="../Games">GAMES</a>
                </div>
            </li>
            <!--GAMING -->

            <li class="nav-item">
                <a class="nav-link " href="../About">ABOUT US</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="../Contact">CONTACT</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 ">
            <div class="input-group">
                <input class="form-control form-control-sm" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append input-group-sm">
                    <button class="btn brn-sm btn-light pt-0 pb-0" type="submit"><span class="fa fa-search"></span></button>
                </div>
            </div>
        </form>
    </div>
    </div>
</nav>
<!--NavBar-->
<!-- Main -->
<div class="container mt-5 bg-light">
    <div class="row">
        <div class="m-4 col-lg-8">
            <h1>
                <a class="darkBlue" href="../GamingNews">Gaming NEWS</a>
            </h1>
        </div>

        <div class="col-lg-8 col md-8 cool-sm-12 pb-3">
            <!-- Title -->
            <div class="col-12 pb-3">
                <h2>StarCraft: Remastered's cartoon makeover is out now</h2>
            </div>
            <!-- Title -->
            <!-- Image -->
            <div class="col-12 ">
                <img src="https://cdn.mos.cms.futurecdn.net/v4jL7oXWrdPBr7w4hVopqF.jpg" width="100%" >
            </div>
            <!-- Image -->
            <!-- Paragraphs -->
            <div class="col-12 pt-3">
                <p>
                    <b>
                        The sci-fi war gets a cheery reskin.
                    </b>
                </p>
                <p>
                    StarCraft: Remastered isn't as gloomy as, say, Warhammer 40,000, but it's far from a cheerful RTS. Blizzard has decided to remedy that by enlisting Carbot Animations, creator of a multitude of Blizzard parody videos, to give the entire game a cartoon makeover. You can see the results above, and the pack is available now.
                </p>
                <p>
                    StarCraft's bold new look reminds me of the kind of Flash animation and games I used to devour on Newgrounds a thousand years ago and it's bizarre to see it applied to something like this, but I kinda like it. And it's not just units, everything from the UI to the map has been reimagined as a colourful, whimsical cartoon.
                </p>
                <p>
                    The overhaul also extends beyond the story campaign, letting you duke it out in cartoon battles online or in custom games. You'll be able to play against people without the pack, too.
                </p>
                <p>
                    StarCraft: Remastered Cartooned is available now on the Blizzard store for £9/$10.
                </p>

                <iframe width="100%" height="364" src="https://www.youtube.com/embed/DCcg8XUh3tY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>            </div>
            <!-- Paragraphs -->
            <!-- Likes Shares Views -->
            <div class="float-right p-2 pr-3">
                <small class="p-0">
                    <button class="btn btn-default btn-sm p-1">Like <span class="fa fa-heart text-danger"></span> 72 </button>
                </small>
                <small class="p-0">
                    <button class="btn btn-default btn-sm p-1">Share <span class="fa fa-share text-primary"></span> 43 </button>
                </small>
                <small class="p-0 ">
                    <span class="btn btn-default btn-sm p-1">Views <span class="fa fa-eye text-dark"></span> 180 </span>
                </small>
            </div>
            <!-- Likes Shares Views -->
        </div>

        <div class="col-lg-4 col-md-12 p-0 pl-lg-1 ">

            <div class="accordion " id="accordionExample">

                <div class="card ">
                    <div class="card-header p-1">
                        <h4 class="text-center text-dark"><b>Top 3 News</b></h4>
                    </div>
                </div>


                <div class="card">
                    <div class="card-header m-0 p-0" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-default collapsed btn-block " type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Gaming News
                            </button>
                        </h2>
                    </div>
                    <div id="collapseOne" class="collapse show p-0 m-0" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body p-0 ">
                            <ul class="list-unstyled p-0 m-0 text-center">
                                <li class="border-bottom p-1">
                                    <a class="" href="Diablo4"><small>Is Blizzard making Diablo 4?</small></a>
                                </li>
                                <li class="border-bottom p-1">
                                    <a class="" href="StarCraft"><small>StarCraft: Remastered's cartoon makeover is out now</small></a>
                                </li>
                                <li class="border-bottom p-1">
                                    <a class="" href="LichKing"><small>All hail the king of Lich King cosplay</small></a>
                                </li>
                                <li class="p-1 pb-0 ">
                                    <a class="text-secondary" href="../GamingNews">View All Gaming News</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header m-0 p-0" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-default btn-block " type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Live Stream
                            </button>
                        </h2>
                    </div>

                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body p-0 ">
                            <ul class="list-unstyled p-0 m-0  text-center">
                                <li class="border-bottom p-1">
                                    <a class="" href="../LiveStream"><small>Roblox</small></a>
                                </li>
                                <li class="border-bottom p-1">
                                    <a class="" href="../LiveStream"><small>PubG Mobile</small></a>
                                </li>
                                <li class="border-bottom p-1">
                                    <a class="" href="../LiveStream"><small>Dunia Games</small></a>
                                </li>
                                <li class="p-1 pb-0 ">
                                    <a class="text-secondary" href="../LiveStream">View All Live Stream</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header m-0 p-0" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn btn-default collapsed btn-block" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Games
                            </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body p-0 ">
                            <ul class="list-unstyled p-0 m-0 text-center">
                                <li class="border-bottom p-1">
                                    <a class="" href="../Games"><small>Crazy Chess</small></a>
                                </li>
                                <li class="border-bottom p-1">
                                    <a class="" href="../Games"><small>Tetris</small></a>
                                </li>
                                <li class="border-bottom p-1">
                                    <a class="" href="../Games"><small>Sandbox Enhanced</small></a>
                                </li>
                                <li class="p-1 pb-0 ">
                                    <a class="text-secondary" href="../Games">View All Games</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- Related News -->
    <div class="row ml-md-3 ml-lg-3 ml-sm-0">
        <h3 class="m-1 darkBlue">RELATED NEWS</h3>
    </div>
    <div class="row ml-md-3 ml-lg-3 ml-sm-0">

        <div class="col-md-9 col-lg-3 col-sm-4 m-md-4 ml-lg-5 ml-md-4 ml-sm-0 p-0 card">
            <div class="card-header m-0 p-0">

                <a href="Razer">
                    <img src="https://cdn.mos.cms.futurecdn.net/t3MrxjkETu9GBJ6BkqWsR4-650-80.jpg" width="100%" >
                </a>
                <span class="badge badge-warning rounded-0">Games</span>
                <h5 class="p-1"><b><a href="Razer" class="text-dark">Razer launches a shorter, faster version of its Huntsman Elite keyboard</a></b></h5>

            </div>
            <div class="card-body">
                <p>
                    The Huntsman Elite Tournament Edition waves goodbye to the dedicated number pad for a smaller footprint.
                </p>
            </div>
            <div class="card-footer">
                <a href="Razer" class="btn btn-primary "> Read this</a>
            </div>
        </div>

        <div class="col-md-9 col-lg-3 col-sm-4 m-md-4 p-0 card">

            <div class="card-header m-0 p-0">
                <a href="Diablo4">
                    <img src="https://cdn.mos.cms.futurecdn.net/kUnB7F2S8bQ7UgCtUeoSi8-1024-80.jpg" width="100%" >
                </a>
                <span class="badge badge-warning rounded-0">Games</span>
                <h5 class="p-1"><b><a class="text-dark" href="Diablo4">Is Blizzard making Diablo 4?</a></b></h5>

            </div>
            <div class="card-body mt-2">
                <p class="pt-2">
                    Job listings and talk of 'multiple Diablo projects' gives us hope.
                </p>
            </div>
            <div class="card-footer">
                <a href="Diablo4" class="btn btn-primary "> Read this</a>

            </div>
        </div>

        <div class="col-md-9 col-lg-3 col-sm-4 m-md-4 p-0 card">

            <div class="card-header m-0 p-0">
                <a href="Sims">
                    <img src="https://cdn.mos.cms.futurecdn.net/B6cfFbqL47Y7udPq2YEDpa-970-80.jpg" width="100%" >
                </a>
                <span class="badge badge-warning rounded-0">Games</span>
                <h5 class="p-1"><b><a class="text-dark" href="Sims">Making your favourites kiss in The Sims</a></b></h5>

            </div>
            <div class="card-body mt-2">
                <p class="pt-2">
                    Remaking canon.
                </p>
            </div>
            <div class="card-footer">
                <a href="Sims" class="btn btn-primary "> Read this</a>

            </div>
        </div>

    </div>
    <!-- Related News -->

</div>



<!-- Main -->
<!-- Footer -->
<footer class="page-footer font-small  text-center ">

    <!-- Footer Elements -->
    <div class="container">

        <!-- Grid row-->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-12 py-5">
                <div class="mb-5 flex-center">

                    <!-- Facebook -->
                    <a class="fb-ic" style="color: #fff3cd;">
                        <i class="fa fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!-- Twitter -->
                    <a class="tw-ic" style="color: #fff3cd;">
                        <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!-- Google +-->
                    <a class="gplus-ic" style="color: #fff3cd;">
                        <i class="fa fa-google-plus fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Linkedin -->
                    <a class="li-ic" style="color: #fff3cd;">
                        <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic" style="color: #fff3cd;">
                        <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                    </a>
                    <!--Pinterest-->
                    <a class="pin-ic" style="color: #fff3cd;">
                        <i class="fa fa-pinterest fa-lg white-text fa-2x"> </i>
                    </a>
                </div>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 text-light">© 2018 Copyright:</div>
    <!-- Copyright -->

</footer>
<!-- Footer -->

<!--Script -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!--Script -->

</body>
</html>